# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Wurzelimperium Bot - Main

on:
  workflow_dispatch:
  schedule: # UTC timezone, execute every 1:05h
    - cron: "15 0 * * *"
    - cron: "20 1 * * *"
    - cron: "35 2 * * *"
    - cron: "40 3 * * *"
    - cron: "45 4 * * *"
    - cron: "50 5 * * *"
    - cron: "55 6 * * *"
    - cron: "00 8 * * *"
    - cron: "05 9 * * *"
    - cron: "10 10 * * *"
    - cron: "15 11 * * *"
    - cron: "20 12 * * *"
    - cron: "25 13 * * *"
    - cron: "30 14 * * *"
    - cron: "35 15 * * *"
    - cron: "40 16 * * *"
    - cron: "45 17 * * *"
    - cron: "50 18 * * *"
    - cron: "55 19 * * *"
    - cron: "00 21 * * *"
    - cron: "50 22 * * *"
    - cron: "10 23 * * *"

jobs:
  run:
    name: Run bot
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt1-dev
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run bot
        run: |
          python ./automated_script.py ${{ secrets.SERVER_NR }} ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} de -p -l
