# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Wurzelimperium Bot - Main

on:
  workflow_dispatch:
  schedule: # UTC timezone, execute every 1:20h
    - cron: "15 0 * * *"
    - cron: "35 1 * * *"
    - cron: "55 2 * * *"
    - cron: "15 4 * * *"
    - cron: "35 5 * * *"
    - cron: "55 6 * * *"
    - cron: "15 8 * * *"
    - cron: "35 9 * * *"
    - cron: "55 10 * * *"
    - cron: "15 12 * * *"
    - cron: "35 13 * * *"
    - cron: "55 14 * * *"
    - cron: "15 16 * * *"
    - cron: "35 17 * * *"
    - cron: "55 18 * * *"
    - cron: "15 20 * * *"
    - cron: "35 21 * * *"
    - cron: "55 22 * * *"

jobs:
  run:
    name: Run bot
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt1-dev
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run bot
        run: |
          python ./automated_script.py ${{ secrets.SERVER_NR }} ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} de -p -l
